<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Session1_05Entities" connectionString="metadata=res://*/Session1_05.csdl|res://*/Session1_05.ssdl|res://*/Session1_05.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RGNMHF8;initial catalog=Session1_05;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>